@model TypographicBlogger.Models.Category

<form class="row bg-white box-shadow" method="post" asp-action="Upsert">
    <div class="col-12 my-3">
        <h1 class="text-dark">Create a category</h1>
    </div>

    <div class="col-6 my-3">
        <label asp-for="@Model.Name"></label>
        <input class="form-control" asp-for="@Model.Name"/>
        <span asp-validation-for="@Model.Name"></span>
    </div>
    
    <div class="col-6 my-3">
        <label asp-for="@Model.DisplayOrder"></label>
        <input class="form-control" asp-for="@Model.DisplayOrder"/>
        <span asp-validation-for="@Model.DisplayOrder"></span>
    </div>
    
    <input type="hidden" asp-for="Id" />

    <div class="col-3 my-3">
        <button class="btn btn-primary w-100">Save Data</button>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/eiokn8243tp4rwj1xxvrb8q0oo10ks7fhk6luplifj0qsnpq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <partial name="_ValidationScriptsPartial" />
    
    <script>
        tinymce.init({
            selector: "#blogContentArea"
        });
    </script>
}